[user]
	name = kalek
	email = hello@kalek.dev
[core]
	editor = nvim
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[alias]
	d = difftool
